* {
  --label-scale: 0;
}

.part-label {
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(var(--label-scale));
  padding: 0.5rem;
  background-color: var(--color-grey-300);
  border: 0.5px solid var(--color-blue);
  border-radius: 4px;
}

.part-label__header {
  font-size: 1.1428571429rem;
  line-height: 1.1;
  margin-top: -0.1rem;
  margin-bottom: 0.5rem;
}
.part-label__body {
  font-size: 0.625rem;
}
.part-label__body > * {
  margin-bottom: 0.125rem;
}
.part-label__body > *:last-child {
  margin-bottom: 0;
}

.part-label--lg-font .part-label__body {
  font-size: 0.75rem;
}

.part-label__pill {
  padding: 1px 2px;
  border-radius: 5%;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--color-grey-300);
  background-color: var(--color-blue);
}

.part-label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateY(-100%);
  width: 0.5px;
  height: 10px;
  background-color: var(--color-blue);
}

#section-label-1-0::before {
  left: 25%;
  height: 40px;
}
#section-label-1-1::before {
  left: 70%;
  height: 20px;
}
#section-label-2-0::before {
  left: 20%;
  height: 30px;
}
#section-label-2-1::before {
  left: 80%;
  height: 30px;
}
#section-label-2-2::before {
  left: 25%;
  height: 15px;
}

@media screen and (min-width: 800px) {
  #section-label-1-1::before {
    left: 70%;
    height: 20px;
  }
}
@media screen and (min-width: 1000px) {
  .part-label {
    min-width: 150px;
  }

  #section-label-2-0::before {
    left: 45%;
    height: 30px;
  }

  #section-label-2-2::before {
    left: 35%;
    height: 20px;
  }
}
