:root {
  --font-mono: "IBM Plex Mono", monospace;
  --font-serif: "Merriweather", serif;

  --color-blue: #a7c4cd;
  --color-grey-50: #070808;
  --color-grey-100: #0f1112;
  --color-grey-200: #222a2a;
  --color-grey-300: #262c2a;

  --section-scroll-height: 100vh;
}
