*
{
  margin: 0;
  padding: 0;
}

html {
  background-color: #211d20;
}

body
{
  height: 400vh;
}

.webgl
{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  outline: none;
  z-index: -100;
}
