/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

body
{
  font-family: "IBM Plex Mono", monospace;
  font-weight: 300;
  font-style: normal;
  color: #A7C4CD;
  background: #222A2A;
  background: linear-gradient(to bottom, rgba(15, 17, 18, 1) 0vh, rgba(34, 42, 42, 1) 100vh);
  background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

main {
  width: 100%;
}
@media screen and (min-width: 800px) {
  main {
    width: 80%;
    margin: 0 auto;
  }
}

.webgl
{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  outline: none;
  z-index: -100;
}

.section {
  height: 100vh;
}
/* #section-0 {
  border: 2px solid yellow;
}
#section-1 {
  border: 2px solid blue;
}
#section-2 {
  border: 2px solid orange;
} */

.section-header {
  position: absolute;
  width: 90%;
  left: 2rem;
  transform: translateY(100vh);
}
.section-header__header {
  font-size: 3.5rem;
  line-height: 1;
}
.section-header__tagline {
  font-size: 2.25rem;
  font-weight: 100;
}
#section-0-header {
  top: 36rem;
  transform: none;
}
#section-1-header {
  top: 48rem;
}

#loading-spinner {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.webgl-ui {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
  z-index: 10;
}

* {
  --label0-translateX: 0px;
  --label0-translateY: 0px;
  --label0-scale: 0;
}

.part-label {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(var(--label0-translateX), var(--label0-translateY)) scale(var(--label0-scale));
  padding: 0.5rem;
  background-color: #262C2A;
  border: 0.5px solid #A7C4CD;
  border-radius: 4px;
}

.part-label__header {
  font-size: 1.1428571429rem;
  line-height: 1.1;
  margin-top: -0.1rem;
  margin-bottom: 0.5rem;
}
.part-label__body {
  font-size: 0.625rem;
}
.part-label__body > * {
  margin-bottom: 0.125rem;
}
.part-label__body > *:last-child {
  margin-bottom: 0;
}
.part-label__pill {
  padding: 1px 2px;
  border-radius: 5%;
  font-weight: 500;
  text-transform: uppercase;
  color: #262C2A;
  background-color: #A7C4CD;
}

.part-label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateY(-100%);
  width: 0.5px;
  height: 10px;
  background-color: #A7C4CD;
}

#label-1-0::before {
  left: 25%;
  height: 40px;
}
